<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Documentary film</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col pt-5">
            <div class="card">
                <h5 class="card-header">Add Documentary Film</h5>
                <form action="{{ url_for('add_documentary') }}" method="post" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="card mb-3" >
                          <div class="row no-gutters">
                            <div class="col-md-3">
                                <div class="form-group" align="center">
                                    <label for="file"><b>Image</b></label>
                                    <input type="file" class="form-control-file" name="file" value="Upload" placeholder="Image">
                                </div>
                            </div>
                            <div class="col-md-9">
                              <div class="card-body">
                                <h5 class="card-title"></h5>
                                  <table style="table-layout: fixed" class="table table-sm table-borderless">
                                      <tbody>
                                          <tr>
                                              <th style="width: 20px" align="left"><label for="title">Title: </label></th>
                                              <td style="width: 80px" align="left"><input name="title" type="text" class="form-control" id="title" placeholder="Enter Title" required></td>
                                          </tr>
                                          <tr>
                                              <th><label for="release_year">Release Year: </label></th>
                                              <td><input name="release_year" type="text" class="form-control" id="release_year" placeholder="Enter Release Year" required></td>
                                          </tr>
                                          <tr>
                                              <th><label for="country">Country: </label></th>
                                              <td><input name="country" type="text" class="form-control" id="country" placeholder="Enter Country" required></td>
                                          </tr>
                                          <tr>
                                              <th><label for="director">Director: </label></th>
                                              <td><input name="director" type="text" class="form-control" id="director" placeholder="Enter Director" required></td>
                                          </tr>
                                          <tr>
                                              <th><label for="category">Category: </label></th>
                                              <td><input name="category" type="text" class="form-control" id="category" placeholder="Enter Category" required></td>
                                          </tr>
                                          <tr>
                                              <th><label for="brief_description">Brief Description: </label></th>
                                              <td><textarea name="brief_description" class="form-control" id="brief_description" placeholder="Enter Brief Description" rows="3" required></textarea></td>
                                          </tr>
                                          <tr>
                                              <th><label for="certificate">Certificate: </label></th>
                                              <td><input name="certificate" type="text" class="form-control" id="certificate" placeholder="Enter Certificate" required></td>
                                          </tr>
                                          <tr>
                                              <th><label for="runtime">Runtime: </label></th>
                                              <td><input name="runtime" type="text" class="form-control" id="runtime" placeholder="Enter Runtime" required></td>
                                          </tr>
                                          <tr>
                                              <th><label for="tags">Tags: </label></th>
                                              <td><input name="tags" type="text" class="form-control" id="tags" placeholder="Enter Tags" required></td>
                                          </tr>
                                          <tr>
                                              <th><label for="trailer">Trailer: </label></th>
                                              <td><input name="trailer" type="text" class="form-control" id="trailer" placeholder="Enter Trailer" required></td>
                                          </tr>
                                          <tr>
                                              <th></th>
                                              <td><button class="btn btn-outline-success">Save</button></td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div>
                        <a href="{{ url_for('index') }}"><button style="margin-top: 10px" type="button"
                                                                 class="btn btn-outline-primary">Home Page</button></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>