<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Cartoon</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col pt-5">
            <h1>Add Cartoon</h1>
            <form action="{{ url_for('add_cartoon') }}" method="post">
                <div class="form-group">
                    <label for="title"><b>Title</b></label>
                    <input name="title" type="text" class="form-control" id="title" placeholder="Enter Title" required>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="release_year"><b>Release Year</b></label>
                        <input name="release_year" type="text" class="form-control" id="release_year"
                               placeholder="Enter Release Year" required>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="country"><b>Country</b></label>
                        <input name="country" type="text" class="form-control" id="country" placeholder="Enter Country">
                    </div>
                    <div class="form-group col-md-8">
                        <label for="method_of_creation"><b>Method of creation</b></label>
                        <input name="method_of_creation" type="text" class="form-control" id="method_of_creation"
                               placeholder="Enter Method of creation" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="director"><b>Director</b></label>
                        <input name="director" type="text" class="form-control" id="director"
                               placeholder="Enter Director" required>
                    </div>
                    <div class="form-group col-md-9">
                        <label for="genres"><b>Genres</b></label>
                        <input name="genres" type="text" class="form-control" id="genres"
                               placeholder="Enter Genres" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="brief_description"><b>Brief Description</b></label>
                    <textarea name="brief_description" class="form-control" id="brief_description"
                              placeholder="Enter Brief Description" rows="3" required></textarea>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="certificate"><b>Certificate</b></label>
                        <input name="certificate" type="text" class="form-control" id="certificate"
                               placeholder="Enter Certificate" required>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="duration"><b>Duration</b></label>
                        <input name="duration" type="text" class="form-control" id="duration"
                               placeholder="Enter Duration" required>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="runtime"><b>Runtime</b></label>
                        <input name="runtime" type="text" class="form-control" id="runtime" placeholder="Enter Runtime"
                               required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="tags"><b>Tags</b></label>
                        <input name="tags" type="text" class="form-control" id="tags" placeholder="Enter Tags" required>
                    </div>
                </div>
                <button class="btn btn-outline-success" style="margin-bottom: 10px">Save</button>
            </form>
            <a href="{{ url_for('index') }}"><button style="margin-bottom: 10px" type="button" class="btn btn-outline-primary">Home Page</button></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>